{
    "openapi": "3.0.1",
    "info": {
        "title": "Messages API",
        "description": "A simple Messages API designed to return a list of messages that can originate from inside the code or the configuration.",
        "version": "0.1-SNAPSHOT"
    },
    "servers": [
        {
            "url": "https://springboot-maven-polyglot-demo.tap-next.blah.cloud/api",
            "description": "Spring"
        },
        {
            "url": "https://node-express-polyglot-demo.tap-next.blah.cloud/api",
            "description": "NodeJS"
        },
        {
            "url": "http://localhost:8080/api",
            "description": "Local"
        }
    ],
    "tags": [
        {
            "name": "Springboot-Maven Messages API",
            "description": "An API for obtaining a list of messages"
        }
    ],
    "paths": {
        "/api/messages": {
            "get": {
                "tags": [
                    "Messages"
                ],
                "summary": "Get a list of messages.",
                "description": "The API returns a list of messages. The content in these messages could come from a number or different configuration sources.",
                "operationId": "messages",
                "responses": {
                    "200": {
                        "description": "Messages were resolved and are being returned.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "map",
                                    "description": "A map of messages and their subjects.",
                                    "example": {
                                        "subject a": "message",
                                        "subject b": "message"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    },
    "components": {}
}