{
    "openapi": "3.0.1",
    "info": {
        "title": "Messages API",
        "description": "Sample API for messages",
        "version": "0.1-SNAPSHOT"
    },
    "servers": [
        {
            "url": "https://springboot-maven-polyglot-demo.tap-next.blah.cloud",
            "description": "TAP"
        },
        {
            "url": "http://localhost:8080",
            "description": "localhost"
        }
    ],
    "tags": [
        {
            "name": "Springboot-Maven Messages API",
            "description": "Sample API for messages"
        }
    ],
    "paths": {
        "/messages": {
            "get": {
                "tags": [
                    "message-api-controller"
                ],
                "summary": "Get a list of messages. The content in these messages could come from a number or different configuration sources.",
                "operationId": "index",
                "responses": {
                    "200": {
                        "description": "Messages were resolved and are being returned.",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "type": "object",
                                    "additionalProperties": {
                                        "type": "string"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    },
    "components": {}
}